
/obrazki_kubusia
src/__pycache__/core.cpython-310.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.csv
*.pyc
temp.txt
src/kubusia/gasnace_swieczki copy.ipynb
.vscode/settings.json
src/word_embeddings_tutorial.ipynb
EURUSD/data_store/words_120_10.txt
